.nav {
	background-color: #3484F0;
	display: flex;
	list-style: none;
	justify-content: center;
    margin: 0;
}

.nav li a {
	display: block;
	color: #F7F7F7;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #757575;
}


.main_countries {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    
  }
  
  .country_card:hover {
    border: .0001px solid #757575;
  }
  
  .main_countries img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  h2 {
    padding: 15px;
    text-align: center;
  }
.country_card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
.country_card {
    margin-bottom: 25px;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}
.country_card h2 {
  border-top: 10px solid #3484F0;
  margin-top: 0;
  background-color: #C4DBFA;
  margin-bottom: 0;
}
h1 {
    text-align: center;
    font-size: 4em;
}